* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  background-color: rgb(48, 159, 211);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.main {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
